.side-menu-overlay {
  position: fixed;
  top: 70px; /* adjust to match navbar height */
  left: 0;
  /* width: 260px;  */
  /* sidebar width */
  width: 25%;
  /* height: calc(100% - 80px); */
  background: blue;
  z-index: 999;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.dashboard-right-section {
  transition: all 0.3s ease;
  /* background: red; */
  margin-left: 0;
  width: 100%;
}

/* When sidebar is open */
.with-sidebar {
  margin-left: 26%; /* equal to sidebar width */
  width: 74%;
  height: 90vh;
background-color: #EDEDEC ;
}

/* When sidebar is closed */
.full-width {
  height: 90vh;
  width: 100%;
  background-color: #ededec;
}
