.dashboard-stats-card {
  background-color: white;
  width: 30%;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.icon-section {
  color: white;
  background-color: #7a53f2;
  padding: 5px;
  border-radius: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin-left: 5px; */
}

.stats-info h6 {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.stats-info span {
  font-size: 20px;
  font-weight: 600;
  color: green;
}

.expense-card {
    border-left: 5px solid rgba(255, 0, 0, 0.753); /* highlight */
}

.expense-card .icon-section{
    background-color: red;
}

.income-card{
    border-left: 5px solid #FD5E02;
}
.income-card .icon-section{
    background-color:#FD5E02 ;
}

.balance-card{
    border-left: 5px solid #7a53f2;
}